extends layout

block content
  h1= title
  p Welcome to the #{title} 
  p Open the following links and play around a bit. Note that the guis are only for demonstrating the idea of the agents.

  a(href="gui/worker/Remco") Worker Remco
  br
  a(href="gui/worker/Giovanni") Worker Giovanni
  br
  a(href="gui/manager/Peet") Manager Peet

  p The code for this demo can be found at #[a(href="https://github.com/RemcoTukker/MIDAS") Github]

